:root {
  --primary-color: rgb(255, 100, 0);
}

.App {
  text-align: center;
}

.topnav {
  background-color: var(--primary-color);
  overflow: hidden;
}

.topnav .navlink {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav .navlink.homeLink {
  font-weight: bold;
}

.topnav .navlink.active {
  color: white;
}
