:root {
  --primary-color: #ff7416;
  --secondary-color: rgb(0, 0, 0);
  --background-color: #f6f6ef;
  --grey-borders-color: rgb(192, 191, 191);
  --grey-font-color: #5c5c5c;
}

.App {
  /* text-align: center; */
  background-color: var(--background-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* General */

small {
  color: grey;
}

.clickable {
  cursor: pointer;
}

/* NAVBAR */

.topnav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.topnav .navItem {
  margin: auto 0;
  font-size: 0.6rem;
}

/* LINKS */

.topnav a {
  text-decoration: none;
  color: var(--secondary-color);
}

.topnav h1 {
  font-weight: normal;
}

/* LOGO */

.topnav .logo {
  display: flex;
  height: 3rem;
}

.topnav .logo h1 {
  line-height: 0.2em;
  text-align: left;
}

.topnav .logo img {
  height: 100%;
  width: auto;
  margin-right: 0.5rem;
}

/* SEARCH BAR */

.topnav .searchBar {
  flex-grow: 2;
}

.searchIcon {
  position: absolute;
  color: var(--primary-color);
  margin-top: 10px;
}

.topnav .inputBar {
  width: calc(100% - 60px);
  border-radius: 0;
  border: none;
  padding: 0.8rem 0.8rem 0.8rem 3rem;
}

/* SETTINGS */

.topnav .settingsLink {
  display: flex;
}

.topnav h1 {
  margin-right: 0.4rem;
}

.topnav svg {
  margin: auto 0.7rem;
}

/* --- BODY --- */

/* FILTERS */

.filters-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 0.6rem;
  align-items: baseline;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  border-width: thin;
  border-style: solid;
  border-color: var(--grey-borders-color);
  color: grey;
  padding: 0.2rem;
  cursor: pointer;
}

.dropdown-title {
  font-size: 0.9rem;
  margin-right: 0.2rem;
}

.dropdown-label {
  margin-right: 0.4rem;
  font-size: 0.8rem;
}

.dropdown-list {
  position: absolute;
  border-width: thin;
  border-style: solid;
  border-color: var(--grey-borders-color);
  background-color: white;
  text-align: left;
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  margin-top: 2.5rem;
  margin-left: 1rem;
  color: grey;
  font-size: 0.8rem;
}

.dropdown-list li {
  border-bottom: 1px solid var(--grey-borders-color);
  padding: 0.5rem;
  color: var(--grey-font-color);
}

/* Share */

.share-icon {
  align-self: flex-end;
  margin-right: 1rem;
  margin-top: 0.5rem;
  color: var(--grey-borders-color);
}

/* MAIN CONTENT */

.itemsList {
  font-size: 0.9rem;
  text-align: left;
  margin-left: 2rem;
}

.itemsList .content-item {
  margin-top: 0.5rem;
}

.itemsList .content-item p {
  margin-bottom: 0;
}

.itemsList .content-item p > a {
  text-decoration: none;
  color: black;
}

.content-story-text p small {
  color: black;
}

.itemsList a {
  text-decoration: none;
  color: grey;
}

.content-comment {
  font-size: 0.8rem;
}

.content-comment p {
  margin-top: 0.5rem;
}

/* PAGINATION */

.paginationList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paginationList li {
  margin-right: 5px;
}

.page-item .page-link {
  cursor: pointer;
  border-radius: 0;
  border-style: solid;
  border-width: thin;
  border-color: var(--grey-borders-color);
}

.page-item.active > button {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

li.page-item > button {
  border: none;
  color: var(--grey-borders-color);
}

/* FOOTER */

.footBar-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footBar-list li {
  font-size: 0.5rem;
  margin: 0.5rem;
}

.footBar-list li a {
  font-size: 0.8rem;
  margin-left: 0.4rem;
  text-decoration: none;
  color: var(--secondary-color);
}

.footBar-list li:first-child {
  list-style-type: none;
}

/* SETTINGS */

.settings p {
  text-align: left;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.settings h2 {
  font-weight: normal;
  font-size: 1rem;
  color: var(--grey-borders-color);
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 1px solid var(--grey-borders-color);
}

.ranking-settings,
.display-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: baseline;
  color: var(--grey-font-color);
}

.ranking-settings .selectLabel,
.display-settings .selectLabel {
  justify-self: end;
}

@media only screen and (max-width: 850px) {
  .topnav .logo h1 {
    display: none;
  }
  .topnav h1 {
    display: none;
  }

  .settingsLink > svg:nth-child(1) {
    margin-top: 0.8rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 570px) {
  .share-icon {
    display: none;
  }
  .footBar-list {
    flex-direction: column;
    align-items: center;
  }
}
