:root {
  --primary-color: #ff7416;
  --secondary-color: rgb(0, 0, 0);
  --background-color: #f6f6ef;
  --grey-borders-color: rgb(192, 191, 191);
}

.App {
  text-align: center;
  background-color: var(--background-color);
}

/* General */

small {
  color: grey;
}

.clickable {
  cursor: pointer;
}

/* NAVBAR */

.topnav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.topnav .navItem {
  margin: auto 0;
  font-size: 0.6rem;
}

/* LINKS */

.topnav a {
  text-decoration: none;
  color: var(--secondary-color);
}

.topnav h1 {
  font-weight: normal;
}

/* LOGO */

.topnav .logo {
  display: flex;
  height: 3rem;
}

.topnav .logo h1 {
  line-height: 0.2em;
  text-align: left;
}

.topnav .logo img {
  height: 100%;
  width: auto;
  margin-right: 0.5rem;
}

/* SEARCH BAR */

.topnav .searchBar {
  flex-grow: 2;
}

.searchIcon {
  position: absolute;
  color: var(--primary-color);
  margin-top: 10px;
}

.topnav .inputBar {
  width: 90%;
  border-radius: 0;
  border: none;
  padding: 0.8rem 0.8rem 0.8rem 3rem;
}

/* SETTINGS */

.topnav .settingsLink {
  display: flex;
}

.topnav h1 {
  margin-right: 0.4rem;
}

.topnav svg {
  margin: auto 0.7rem;
}

/* --- BODY --- */

/* FILTERS */

.filters {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.selectLabel {
  margin-right: 7px;
}

.selectBox {
  border-style: solid;
  border-width: thin;
  border-color: var(--grey-borders-color);
}

.select-input {
  -webkit-appearance: none;
  border: none;
  width: 38%;
  color: grey;
}

.select-group-form {
  text-align: left;
  align-items: flex-start;
  margin-right: -10px;
}

div.select-group-form > span > svg {
  color: grey;
  padding-right: 10px;
}

/* MAIN CONTENT */

.itemsList {
  font-size: 0.9rem;
  text-align: left;
  margin-left: 2rem;
}

.itemsList .content-item {
  margin-top: 0.5rem;
}

.itemsList .content-item p {
  margin-top: 0;
  margin-bottom: 0;
}

/* PAGINATION */

.paginationList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paginationList li {
  margin-right: 5px;
}

.page-item .page-link {
  cursor: pointer;
  border-radius: 0;
  border-style: solid;
  border-width: thin;
  border-color: var(--grey-borders-color);
}

.page-item.active > button {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

li.page-item > button {
  border: none;
  color: var(--grey-borders-color);
}
